@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
.App {
  text-align: center;
  max-width: 60%;
  margin: 1rem auto;
}

.wrapper{
  text-align: center;
}
.input-form{
  background: whitesmoke;
  border-radius: 10px;
}

.input-form input{
  border-radius: 10px;
  margin: 2rem auto;
  padding: .5rem;
  outline: none;
  border: none;

}
.input-form button{
  outline: none;
  background: blueviolet;
  color: bisque;
  margin-bottom: 20px;
  border:none;
  border-radius: 10px;
  padding: .5rem;
  margin: 2rem auto;
}
.container{
  padding: 1rem 0;
  border-radius: 10px;
}
.tasklist{
background: wheat;
max-width: 100%;
border-radius: 10px;
}
.tasklist ul {
  padding: 1rem .3rem;
  border-radius: 10px;
}
.task{
background:#f34b2da3;
color: rgb(238, 225, 238);
margin: 1rem auto;
width: 70%;
padding: .5rem;
border-radius: 10px;
}

.btn-complete{
  background: green;
  color: aliceblue;
  outline: none;
  border: none;
  float: right;
  border-radius: 10px;

  transition: all .5s ease;
}
.btn-delete {
  background: rgb(219, 60, 60);
  color: aliceblue;
  outline: none;
  border: none;
  float: right;
  margin-right: .5rem;
  border-radius: 10px;
  transition: all .5s ease;
}

.btn-delete:hover{
  transform: scale(1.2);
}
.btn-complete:hover{
  transform: scale(1.2);
}