.App {
  text-align: center;
  max-width: 60%;
  margin: 1rem auto;
}

.wrapper{
  text-align: center;
}
.input-form{
  background: whitesmoke;
}

.input-form input{
  outline: none;
  border-radius: 10px;

}
.input-form button{
  outline: none;
  background: blueviolet;
  color: bisque;
  margin-bottom: 20px;
  border:none;
  border-radius: 10px;
  padding: .5rem;
}

.tasklist{
background: wheat;
max-width: 50%;
}

.task{
background: tomato;
color: thistle;
}

.btn-delete{
  background: rgb(219, 60, 60);
  color: aliceblue;
  outline: none;
}
.btn-complete{
  background: green;
  color: aliceblue;
  outline: none;
}

